<h1>Login</h1>

<%= form_for :user, url: '/sessions' do |f| %>

  Email: <%= f.text_field :email_address %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>

<p> OR </p>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>
<%= link_to "Sign up for an account", new_user_path %>
