   <h1>Login</h1>

   <%= form_for :user, url: '/users/new' do |f| %>

     Email: <%= f.text_field :email_address %>
     Password: <%= f.password_field :password %>
     <%= f.submit "Submit" %>

   <% end %>

   <p> OR </p>

   <!-- <%= link_to "Login with Facebook", new_user_path %> -->
   <%= link_to "Sign up for an account", new_user_path %>
