
<% if logged_in? %>


<div id="search-results"><%#= render partial: '/users/search_results' %></div>


<div id="feed"><% @user = current_user %>

    <% feed_photos.each do |photo| %>
      <%= image_tag(photo.photo.url) %>
      <br></br>
      <%= photo.caption %>
      <br></br>
      <%= photo.created_at.strftime("%d %^b %Y") %>
        <% if photo.user_id == current_user.id %>
          <%= link_to 'Edit', edit_user_photo_path(current_user.id,photo.id) %>
          <%= link_to('Delete', "/users/#{photo.user_id}/photos/#{photo.id}", method: :delete) %>
        <% end %>
      <br></br>
    <% end %>
</div>
<% else %>
  <%= render partial: '/sessions/new' %>
<% end %>
