<!DOCTYPE html>
<html>
  <head>
    <title>Shuttershare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://s3-ap-southeast-1.amazonaws.com/shuttershare/logo/favicon.ico' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>

</header><!-- header role="banner" -->
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
        <%= javascript_tag "$('#flash_#{key}').fadeOut(5000);" %>
      <% end %>
  </div>

  <% if logged_in? %>

  <header role="banner">
  <img id="logo-main" src="" width="200" alt="Shuttershare">
  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-primary-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Edit Profile', edit_profile_path(current_user.id) %></li>
      <li><%= link_to 'View Profile', user_photos_path(current_user.id) %></li>
      <li><%= form_tag search_path, :method => :post, :id => "search_form", remote: :true do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Search for a user', :autocomplete => :off, :id => 'SearchSearch'  %>
          <%= submit_tag "Search" %>
      <% end %></li>
      <li><%= link_to 'Add Photo',  new_user_photo_path(current_user.id) %></li>
      <li><%= link_to 'Logout', session_path(current_user.id), method: :delete %></li>
  </div>
  </div><!-- /.container-fluid -->
  </nav>

  <% else %>

  <header role="banner">
  <img id="logo-main" src="" width="200" alt="Shuttershare">
  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  </div>
  </nav>
  <!--Mask-->
  <div class="view">
      <div class="full-bg-img flex-center"></div>
      <div class="mask flex-center"></div>
  </div>

  <% end %>

    <%= yield %>
  </body>
</html>
