<!DOCTYPE html>
<html>
  <head>
    <title>Shuttershare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://s3-ap-southeast-1.amazonaws.com/shuttershare/logo/favicon.ico' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body>

</header><!-- header role="banner" -->
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
        <%= javascript_tag "$('#flash_#{key}').fadeOut(5000);" %>
      <% end %>
  </div>

  <!--Mask-->
  <div class="view">
      <div class="full-bg-img flex-center"></div>
      <div class="mask flex-center"></div>
  </div>

    <%= yield %>
  </body>
</html>
